/* Definição de variáveis globais para cores */
:root {
    --primaria-1: rgba(0, 51, 102, 1);
    --primaria-2: rgba(50, 109, 168, 1);
    --primaria-3: rgba(212, 234, 255, 1);
    --primaria-4: rgb(163, 0, 14);
    --branca: rgba(255, 255, 255, 1);
    --branca-2: rgba(255, 255, 255, 0.5);
    --preto: rgba(0, 0, 0, 1);
}

.footer-content {
    background-color: var(--primaria-4);
    color: var(--branca);
    margin-top: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo,
.footer-links,
.footer-contact {
    flex: 1; /* Cada seção ocupa o mesmo espaço */
    margin: 10px;
}

.footer-logo img {
    width: 130px;
    height: auto;
    
}

.footer-links ul {
    list-style-type: none;
    padding: 0;

}

.footer-links li{
    margin-bottom: 3px;
}

.footer-links a {
    text-decoration: none;
    color: var(--branca);
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact .footer-social {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
    margin-top: 10px;
}

.footer-contact .icone {
    width: 30px;
    height: 30px;
}