/* Arquivo: css/style.css */

/* Definição de variáveis globais para cores */
:root {
    --primaria-1: rgba(0, 51, 102, 1);
    --primaria-2: rgba(50, 109, 168, 1);
    --primaria-3: rgba(212, 234, 255, 1);
    --primaria-4: rgb(163, 0, 14);
    --branca: rgba(255, 255, 255, 1);
    --branca-2: rgba(255, 255, 255, 0.5);
    --preto: rgba(0, 0, 0, 1);
}


/* Estilo global do corpo */
body, html {
    background: var(--primaria-1);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo para imagens no banner */
.bannerCarrossel img {
    width: 100%;              /* Largura total */
}

.carrossel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerCarrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: auto;
}

.buttonCarrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.buttonCarrossel.prev {
    left: 10px;
}

.buttonCarrossel.next {
    right: 10px;
}

.container-1{
    background-color: var(--primaria-2);
    margin: 0;
    padding: 20px;
    color: var(--primaria-3);
    align-items: center;
    text-align: center;
    font-size: x-large ;
    width: 100%;
    box-sizing: border-box;
}
/*Estilização das cores de texto*/
.card-1 h2, h3, p{
    color: var(--primaria-3);

}

.produtos li{
    list-style: none;
    color: var(--primaria-3);
}