:root {
    --primaria-1: rgba(0, 51, 102, 1);
    --primaria-2: rgba(50, 109, 168, 1);
    --primaria-3: rgba(212, 234, 255, 1);
    --primaria-4: rgb(163, 0, 14);
    --branca: rgba(255, 255, 255, 1);
    --branca-2: rgba(255, 255, 255, 0.5);
    --preto: rgba(0, 0, 0, 1);
}
/* Estilo geral do cabeçalho e elementos relacionados */
header, header .logo-branca-transp a, header nav ul {
    display: flex;
    flex-direction: row;
}

/* Estilo para o logo no cabeçalho */
header .logo-branca-transp img {
    width: 130px;
}

/* Estilo geral do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha os itens verticalmente */
    background-color: var(--primaria-1);
    padding: 5px 50px;
    margin-bottom: 50px;
}

header nav ul {
    display: flex;
    align-items: center; /* Garante que os itens da lista fiquem alinhados */
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    list-style: none;
    padding: 0 15px;
    align-items: center;
}

/* Estilo para os itens da lista de navegação */
header nav ul li a{
    margin: 20px;
    color: var(--branca);
    transition: 300ms ease-in-out;
    font-weight: bold;
    font-size: 18px;
}

/* Efeito hover nos itens da lista */
header nav ul li:hover {
    color: var(--branca);
    font-size: 20px;
    text-decoration: underline;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out, text-weight 300ms ease-in-out;
}


/* Estilo para links no cabeçalho */
header nav ul a, header .logo-branca-transp a {
    text-decoration: none;
}

/* Cor do texto do link do logo */
header .logo-branca-transp a {
    color: var(--branca);
}

/* Estilo para botões no cabeçalho */
header nav ul li button.button-header {
    background-color: var(--primaria-4);
    color: var(--branca);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 0; /* Remove margens extras */
    display: inline-block; /* Garante que o botão se comporte como um item de linha */
    vertical-align: middle; /* Alinha verticalmente */
}

/* Estilo para campos de busca e botões no cabeçalho */
header nav ul li .button-header:hover {
    background: var(--branca);
    color: var(--primaria-4);
    border: 1px solid transparent;
    font-weight: bold;
    transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}